@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
}

.container {
    padding-left: 200px;
    padding-right: 200px;
}


.header,
.footer {
    display: flex;
    justify-content: space-between;
    background: #1f2937;
    align-items: center;
    color: #F9FAF8;
}

.header {
    font-size: 24px;
    background: #1f2937;
}

.footer {
    justify-content: center;
    height: 52px;
}

.header-content {
    display: flex;
    gap: 50px;
    background: #1f2937;
    color: #F9FAF8;
    padding-top: 100px;
    padding-bottom: 100px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0px 0px 5px;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    margin-bottom: 5px;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    padding: 5px 24px;
    font-weight: 500;
    color: #F9FAF8;
    border-radius: 6px;
    border: none;
}

.button-action {
    border: 3px white;
}

.info-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    padding: 40px 150px;
}

.box {
    border: 2px solid blue;
    border-radius: 6px;
    width: 100px;
    height: 100px;
  }

.subtext {
    font-size: 12px;
    text-align: center;
    width: 100px;
}